<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Appointify!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'entry/css/main.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="links">
                    <a href="{% url 'appointments:index' %}">Dashboard</a>
                    <a href="{% url 'users:logout' %}">Logout</a>
                </div>
            </nav>

            <h1>Edit This Appointment!</h1>

            <div class="new-appointment">

                {{app.task}}

                <form action="{url 'appointments:create'}" method="POST">
                    {% csrf_token %}
                    <label>
                        Tasks:
                        <textarea type="text" name="task" placeholder="{{app.task}}"></textarea>
                    </label>
                    <label>
                        Status:
                        <select name="status">
                            {% if app.status == 0 %}
                            <option value="0" selected>{{app.get_status_display}}</option>
                            <option value="1">Done</option>
                            <option value="2">Neglected</option>
                            {% elif app.status == '1'%}
                            <option value="0" selected>Pending</option>
                            <option value="1">{{app.get_status_display}}</option>
                            <option value="2">Missed</option>
                            {% else %}
                            <option value="0" selected>Pending</option>
                            <option value="1">Done</option>
                            <option value="2">{{app.get_status_display}}</option>
                            {% endif %}
                        </select>
                    </label>
                    <label>
                        Date:
                        <input type="date" name="date" value="{{ app.date|date:'Y-m-d' }}">
                    </label>
                    <label>
                        Time:
                        <input type="time" name="time" value="{{app.time|time:'H:i'}}">
                    </label>

                    <button type="submit">Update</button>
                </form>
            </div>

        </div>
    </body>
</html>