<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'entry/css/main.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav>
                <div class="links">
                        <a href="{% url 'users:logout' %}">Logout</a>                        
                </div>
            </nav>
            <h1>Hello {{user.name}}!</h1>

            <h5>Here are your appointments for today, {{now}}</h5>

            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in todays_apps %}
                    <tr>
                        <td>{{app.task}}</td>
                        <td>{{app.time}}</td>
                        <td>{{app.get_status_display}}</td>
                        <td>
                            {% if app.status != 'Done' %}
                            <a href="{% url 'appointments:edit' id=app.id %}">Edit</a>
                            <a href="{% url 'appointments:delete' id=app.id %}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Future Appointments</h3>
            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for app in future_apps %}
                    <tr>
                        <td>{{app.task}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.time}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="new-appointment">
                
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <h3>Add Appointment</h3>

                <form action="{% url 'appointments:create' %}" method="POST">
                    {% csrf_token %}                        
                    
                    <label>
                        Date:
                        <input type="date" name="date">
                    </label>
                    <label>
                        Time:
                        <input type="time" name="time">
                    </label>
                    <label>
                        Tasks:
                        <textarea name="task" cols="30" rows="10"></textarea>
                    </label>

                    <button type="submit">Add Appointment</button>
                </form>
            </div>

        </div>
    </body>
</html>