form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

form > label {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

fieldset {
    width: 45%;
}

button {
    align-self: center;
    margin: 15px 0;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.forms {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li.error {
    background-color: rgba(240, 20, 20, .2);
    list-style: none;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.8em;
}

.new-appointment {
    display: flex;
    flex-direction: column;
    
}