<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Appointify!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'entry/css/main.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Appointify!</h1>

            {% if messages %}
            <ul>
                {% for message in messages %}
                <li {% if message.tags %}class="{{message.tags}}"{% endif %}>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="forms">
                <fieldset id="register-form">
                    <legend>Register</legend>

                    
                    <form action="{% url 'users:create' %}" method="POST">
                        {% csrf_token %}
                        <label>
                            Name:
                            <input type="text" name="name">
                        </label>
    
                        <label>
                            Email:
                            <input type="text" name="email">
                        </label>
    
                        <label>
                            Password:
                            <input type="text" name="password">
                        </label>
    
                        <label>
                            Confirm PW:
                            <input type="text" name="password_confirmation">
                        </label>
    
                        <label>
                            Date of Birth:
                            <input type="date" name="birthday">
                        </label>
    
                        <button type="submit">Register</button>
                    </form>
                </fieldset>
                <fieldset id="login-form">
                    <legend>Login</legend>

                    
                    <form action="{% url 'users:login' %}" method="POST">
                        {% csrf_token %}
                        <label>
                            Email:
                            <input type="text" name="email">
                        </label>
    
                        <label>
                            Password:
                            <input type="text" name="password">
                        </label>
    
                        <button type="submit">Login</button>
                    </form>
                </fieldset>
            </div>
        </div>
    </body>
</html>